html { width: 100%; min-height: 100%; position: relative; overflow-x: hidden; scroll-behavior: smooth; }

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    font-size: 20px;
    font-weight: 400;
}

/* Text and link styles */
p, a, h1 { color: #aaa; }

h1 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -0.02em;
}

a { text-decoration: none; transition: .2s; }

a:hover { color:black; }
.black-text { color: black; }
.white-text { color: white; }

/* Wrapper style */
/* .wrap {
    width: 940px;
    margin: 0 auto;
} */

.text-container {
    position: absolute;
    width: 940px;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Top */
#top {
    display: flex;
    justify-content: space-between;
}

#name, #top a { padding: 24px; }

/* Header */
.text-container h1 {
    width: 640px;
    display: inline-block;
}

.links { float: left; margin-top: 10px; margin-bottom: 100px;}

.links a  {
    color: #000;
    margin-right: 40px;
    border-bottom: 2px solid #eee;
    padding-bottom: 4px;
}

.links a:hover { border-bottom: 2px solid #000; }
.link-disabled { color: #aaa !important; border-bottom: none !important; }
.link-disabled:hover { color: #aaa; }

/* Stats block */
.stats {
    display: inline-block;
    width: 30%;
}

.stats p {
    margin-top: 0px;
    width: 184px;
}
.stats h1 {
    margin-bottom: 16px;
}

/* Footer */
footer {
    /* margin-top: 120px; */
    bottom: 0px;
    position: fixed;
    left: 24px;
}
