/* Mobile styles*/
@media screen and (max-width: 414px) {
    body { font-size: 16px; }
    .wrap { width: 90%; margin: 0 auto; }
    h1 { font-size: 24px; }
    .text-container { width: 100%; }
    .text-container h1 { margin-top: 120px; }
    .links a { margin-left: 24px; margin-right: 0px; }
    .links a:first-child { margin-left: 0px; }
    .links { display: flex; margin-top: 20px; margin-bottom: 80px;}
    .link-disabled { display: none; }
    .stats p { width: unset; }
    .stats { display: inline-table; }
    footer { margin-top: 160px; }
    #name, #top a { padding: 16px; }
}